h1 {
  text-align: center;
}

table#gameboard td {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  text-align: center;
  vertical-align: middle;
}
table#gameboard td.room {
  background-color: yellow;
}
table#gameboard td.passageway {
  background-color: lightgray;
}

canvas#gameboard {
  border: 1px solid black;
  width: 900px;
  height: 700px;
}
